<div id="albmr-app" class="container-fluid">
  <div id="topper">
    <ul id="filters">
      <li>
        <a ng-class="{selected: display_type == 'active'} " href="#{{route_path}}">Active</a>
      </li>
      <li>
        <a ng-class="{selected: display_type == 'inactive'} " href="#{{route_path}}?display=inactive">Inactive</a>
      </li>
      <li>
        <a ng-class="{selected: display_type == 'all'} " href="#{{route_path}}?display=all">All</a>
      </li>
      <li>
        <a class="plus-button" href="#/{{userId}}/add">+</a>
      </li>
    </ul>
  </div>

  <div>
    <ul id="holder-list">
      <li ng-repeat="holder in holders | filter:activeFilter | orderBy: holder.active" ng-class="{active: holder.active, inactive: !holder.active}" ng-click="toggleExpand(holder)">
          <span class="album">{{holder.album.name}}</span>
          <button ng-click="removeHolder(holder)" ng-class="{destroy: holder == holder_expanded, hidden: holder != holder_expanded}">✖</button>
          <!-- <a class="info-button">info</a> -->
          <div class="spacer" style="clear: both;"></div>
          <div ng-class="{hidden: holder != holder_expanded}">
            <p class="artist"><span style="font-style:italic">by</span> {{holder.album.artist.name}}</p>
            <a ng-click="toggleHolder(holder)" ng-class="{toggle_drop: holder.active, toggle_bump: !holder.active}"> {{getToggleLabel(holder.active)}} </a>
            <div class="spacer" style="clear: both;"></div>
          </div>
      </li>
    </ul>
  </div>
</div>